<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
	<title>ReachUp</title>
	<link rel="stylesheet" type="text/css" href="css/stylecadastrocomunicado.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grid-container">
  <div class="item1">
 <a href="Index.html" class="link">
 <h2>ReachUp</h2>
</a>
  </div>
  <div class="item3">
  	
  	<h2>Criar Comunicado</h2><br>
  	<select><option>Tipo do comunicado</option></select>
    <br><br><br>
  	<input type="text" name="Titulo_comunicado" placeholder="Título do comunicado">
    <h2>Valido até:</h2><br>
    <input type="date" name="Validade" class="data"><br><br>
    <input type="text" name="hora" size="5" maxlength="2" placeholder="Hora">
    <input type="text" name="minuto" size="5" maxlength="2" placeholder="Minutos">
    <br><br>
    <textarea rows="10" cols="40" placeholder="Descrição" ></textarea>
    <br><br>
    <button type="submit" class="botaozin">Confirmar</button>
  </div>  

</div>

</body>
</html>