<!DOCTYPE html>
<html>
<head>
	<title>ReachUp</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
<div class="grid-container">

	<div class="item1">
	<h1>ReachUp | Sign in</h1>

</div>
	
<div class="item3">
	
	<a href="login.html"><img src="img/googlebutton.png" alt="Gmail Logo" width="200" height="50"/></a>	
	<a href="login.html"><img src="img/facebutton.png" alt="facebooklogin" width="200" height="50" /></a>
	<br>

	<p>Ou, você pode:</p><br>

 
 	<form action="menu.html">
   		<td><input type="email" name="E-mail" placeholder="E-mail" required="Senha"> <br /></td>
 		<br>
   		<td><input type="password" name="Senha" placeholder="Senha" required="Senha"> <br /></td>
		<br>
		<td><input type="submit" value="Entrar" class="botaozin"></td>
	</form>

	<br> <br>

	<p>Para criar conta, <a href="cadastro.html">clique aqui.</a></p>

</div>



<div class="item5">© 2020 - ReachUp</div>

</div>

</body>
</html>