<!DOCTYPE html>
<html>
<head>
	<title>ReachUp</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="css/stylelogin.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

<div class="grid-container">

	<div class="item1">
	<h1>ReachUp | Sign in</h1>

	</div>
	
	<div class="item3">
	
	<p>Ao clicar, sua conta foi automaticamente logada via Facebook ou Google, agora, vá para o <a href="">menu</a>.</p>

	</div>

	<div class="item5">© 2020 - ReachUp</div>


</div>

</body>
</html>