html, body { margin:0; padding:0; }

* {margin: 0; padding: 0;}

header{
    height: 150px;
    padding-top: 0px;
    margin-top: 0px;
    position: fixed;
    z-index: 1000;
    border: thin black;

}

header figure
{
   margin-top: 20px;
   margin-left: 10px;
   margin: block;
   display: auto;
   width: 18%;
   height: 100%;
   background-color: blue;

}

header figure img
{
   image-rendering: optimizeQuality;
   width: 100%;
   height: 100%;
}

