@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">WebAdmin</h1>
    <p> <a href="https://github.com/0G4briel/ReachUp">Our github</a>.</p>
    @ViewBag.User.Name
    @ViewBag.User.Email
    @ViewBag.User.Token
</div>
