span {
    font-size: 24px;
}

.card span, .card p {
    margin-left: 10px;
    margin-top: 10px;
}

.card {
    border-radius: 5px;
}

.card h1 {
    position: relative;
    top: -28px;
    left: 45px;
    text-shadow: 0.3px 0.3px 0.3px;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.card p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.boss_item_head {
    color: #e9e9e9;
    background-color: rgba(89, 141, 219, 0.8);
    height: 50px;
}


