body{
   margin: 0px;
   padding: 0px;
}
:root{
    --dimension-mapContainer: 700px;
    --squarePerRow: 200;
}


/* ID */
#mapContainer{
    display: grid;

    grid-template-columns: repeat(var(--squarePerRow),25px);
    grid-template-rows: repeat(var(--squarePerRow), 25px);

    height: var(--dimension-mapContainer);
    width: var(--dimension-mapContainer);

    background-image: url("../map/floor0.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

#control-panel{
 
    margin-top: 10px;
    margin-bottom: 10px;
    width: var(--dimension-mapContainer);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#right-painel{
    float: right;
    background-color: black;
    color: #d7d7d7;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #372a70;
}

#logo {
    background-image: url("../files/images/ReachUp.jpg");
    width: 100px;
    height: 100px;
    margin-left: 75%;
}

/* CLASSES */

.square{
    height: 50;
    width: 50;
    border: 1px solid rgba(0, O, O, O.5);
    background-color: transparent;
}

.square-local{
    height: 20;
    width: 0;
    border: 1px solid rgba(0, O, O, O.5);
    background-color: transparent;
}


.mapBtn{
    width: 150px;
    height: 35px;
    border: 1px solid black;
    background-color: #1c405e;
    margin-left: 5px;
    color: #e0e0e0;
    box-shadow: 1px 1px #1c405e;
    border-radius: 5px;
}

.mapBtn:disabled {
   background-color: #298696;
   box-shadow: 1px 1px #298696;
}


